@model BasicEshop.Models.Forms.SearchForm;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BasicEshop</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/all.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-top">
        <div class="header-top-side container-fluid">
            <div class="header-socials">
                Follow Us:
                <ul>
                    <li>
                        <i class="fab fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fab fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="header-my-account">
                My Account <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="header-top-main container-fluid">
            <img src="~/img/logo-white.png" alt="Logo" class="header-logo"/>
            <a class="header-cart">
                <div class="header-cart-inner">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="header-cart-number">0</div>
                </div>
            </a>
            @using (Html.BeginForm("Search", "Product", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Search, new {@class = "form-control search-control", placeholder = "Search our store"})
            }
        </div>
    </div>
    <nav class="container-fluid">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="" asp-action="">Products</a>
            </li>
            <li>
                <a asp-controller="Blog" asp-action="Index">Blog</a>
            </li>
            <li>
                <a asp-controller="" asp-action="">About</a>
            </li>
            <li>
                <a asp-controller="" asp-action="">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<section>
    @RenderBody()
</section>


<footer>
    <div class="container-fluid">
        <div class="footer-top">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <img src="~/img/logo.png" alt="Logo" class="footer-logo"/>
                    <p>
                        <span class="font-weight-bold">Address:</span><br/>
                        4710-4890 Breckinridge St, UK Burlington, VT 05401
                    </p>
                    <p>
                        <span class="font-weight-bold">Need Help?</span><br/>
                        Call: 1-800-345-6789
                    </p>
                    <p>
                        <span class="font-weight-bold">Email:</span><br/>
                        example@example.com
                    </p>

                </div>
                <div class="col-12 col-xl-2">
                    <h5>About US</h5>
                    <ul>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-xl-2">
                    <h5>Usefull Links</h5>
                    <ul>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                        <li>
                            <a>About us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-xl-4">
                    <h5>Latest Blogs</h5>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright © Vesoz All Right Reserved.
        </div>
    </div>
</footer>
@RenderSection("Scripts", false)
</body>
</html>