@model BasicEshop.Models.Forms.SearchForm;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BasicEshop</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-top">
        <div class="header-top-side container">
            <div class="header-socials">
                Follow Us:
                <ul>
                    <li>
                        <i class="fab fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fab fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="header-my-account">
                My Account <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="header-top-main container">
            <img src="~/img/logo-white.png" alt="Logo" class="header-logo"/>
            <a class="header-cart">
                <div class="header-cart-inner">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="header-cart-number">0</div>
                </div>
            </a>
            @using (Html.BeginForm("Search", "Product", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Search, new {@class = "form-control search-control", placeholder = "Search our store"})
            }
        </div>
    </div>
    <nav class="container">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="" asp-action="">Products</a>
            </li>
            <li>
                <a asp-controller="Blog" asp-action="Index">Blog</a>
            </li>
            <li>
                <a asp-controller="" asp-action="">About</a>
            </li>
            <li>
                <a asp-controller="" asp-action="">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<section>
    @RenderBody()
</section>


<footer>
</footer>
@RenderSection("Scripts", false)
</body>
</html>