.product-preview {
  border: 1px solid $gray5;
  margin-bottom: 20px;

  .product-preview-image {
    background-color: $gray2;
    position: relative;

    img {
      object-fit: contain;
    }
    
    .product-preview-special-tag, .product-preview-discount {
      position: absolute;
      top: 20px;
      background-color: $primary;
      color: white;
      padding: 5px 10px;
      font-size: 12px;
    }

    .product-preview-special-tag {
      right: 10px
    }
    
    .product-preview-discount {
      left: 10px;
    }
  }

  .product-preview-info {
    padding: 15px 20px;

    .product-preview-price {
      display: flex;
      align-items: flex-end;
      margin-top: 15px;
      
      .product-preview-price-current {
        color: $primary;
        font-weight: bold;
        font-size: 16px;
        margin-right: 10px;
      }

      .product-preview-price-old {
        text-decoration: line-through;
        color: $gray6;
        font-size: 13px;
      }
    }
  }
}