$primary: #FF9999;
$black: #333333;

$gray1: #f0f0f0;
$gray2: #e0e0e0;
$gray3: #d9d9d9;
$gray4: #999;
$gray5: rgba(255, 255, 255, .17);
$gray6: #333;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$font-family: 'Lato', sans-serif;