* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #333;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #FF9999;
}
a.selected {
  color: #FF9999;
}

.content {
  line-height: 29px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 25px;
}

h5 {
  font-size: 17px;
  font-weight: bold;
}

h6 {
  font-size: 15px;
}

.text-muted {
  color: #999;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1170px;
    margin: auto;
  }
}

.form-control {
  border: 1px solid #d9d9d9;
  transition: all 0.2s ease-out;
  padding: 13px 11px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.form-control:focus {
  border-color: #FF9999;
  outline: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.btn.disabled {
  cursor: default;
  color: black;
}

.btn-primary {
  background-color: #FF9999;
  color: white;
  font-weight: bold;
}
.btn-primary:hover:not(.disabled) {
  background-color: #333;
}

.btn-default {
  background-color: #f0f0f0;
  color: black;
}
.btn-default:hover:not(.disabled) {
  background-color: #FF9999;
  color: white;
}

.custom-checkbox {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  position: relative;
  bottom: -2px;
}
.custom-checkbox.checked {
  background-color: #FF9999;
  border: 1px solid #FF9999;
}
.custom-checkbox:hover {
  background-color: #FF9999;
  border: 1px solid #FF9999;
}

a:hover .custom-checkbox, a.selected .custom-checkbox {
  background-color: #FF9999;
  border: 1px solid #FF9999;
}

header {
  font-size: 14px;
  color: white;
}
header .header-top {
  background-color: #FF9999;
}
@media (min-width: 576px) {
  header .header-top .header-top-side {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  }
}
header .header-top .header-top-side .header-socials, header .header-top .header-top-side .header-my-account {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 576px) {
  header .header-top .header-top-side .header-socials, header .header-top .header-top-side .header-my-account {
    border-bottom: 0;
  }
}
header .header-top .header-top-side .header-socials ul {
  padding: 0;
  list-style-type: none;
  display: inline;
}
header .header-top .header-top-side .header-socials ul li {
  display: inline-block;
  padding: 0 10px;
}
header .header-top .header-top-main {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  header .header-top .header-top-main {
    flex-wrap: nowrap;
  }
}
header .header-top .header-top-main .header-logo {
  width: 150px;
}
header .header-top .header-top-main .header-cart {
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 5px;
  padding: 8px 8px;
  font-size: 24px;
  display: inline-block;
  color: white;
}
@media (min-width: 768px) {
  header .header-top .header-top-main .header-cart {
    order: 1;
  }
}
header .header-top .header-top-main .header-cart .header-cart-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top .header-top-main .header-cart .header-cart-number {
  border-radius: 50%;
  background-color: white;
  color: #333333;
  width: 16px;
  height: 16px;
  font-size: 11px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
}
header .header-top .header-top-main form {
  width: 100%;
  margin-top: 25px;
}
@media (min-width: 768px) {
  header .header-top .header-top-main form {
    padding: 0 15px;
    margin-top: 0;
    max-width: 650px;
  }
}
header .header-top .header-top-main form .search-control {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
header .header-top .header-top-main form .search-control::placeholder {
  color: white;
}
@media (min-width: 576px) {
  header nav.container-fluid {
    max-width: 546px;
    margin: auto;
  }
}
header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
header nav a {
  display: inline-block;
  font-weight: 600;
  padding: 15px 0;
}
@media (min-width: 768px) {
  header nav a {
    padding: 20px 0;
  }
}

footer {
  background-color: #fafafa;
  margin-top: 40px;
}
footer .footer-top {
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #999;
  font-size: 14px;
}
footer .footer-bottom {
  padding: 20px 0;
}
footer h5 {
  margin-bottom: 15px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  padding: 7px 0;
}

.side-panel {
  background-color: #f8f8f8;
}
.side-panel h5 {
  font-weight: bold;
  margin-bottom: 10px;
}
.side-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-panel ul li a {
  padding: 6px 0;
  display: inline-block;
}
.side-panel .side-panel-block {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}
.side-panel .side-panel-block:last-child {
  border-bottom: 0;
}

.home-about-us {
  margin-top: 50px;
}
.home-about-us p {
  line-height: 24px;
}
.home-about-us .about-us-top {
  margin-bottom: 100px;
}
.home-about-us .about-us-block {
  margin-bottom: 50px;
}

.blog-index .article {
  margin-bottom: 40px;
}
.blog-index .article .article-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .blog-index .article .article-image {
    height: 260px;
  }
}
@media (min-width: 768px) {
  .blog-index .article .article-image {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .blog-index .article .article-image {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .blog-index .article .article-image {
    height: 400px;
  }
}
.blog-index .article h2 {
  margin-bottom: 20px;
}
.blog-index .article .article-info {
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.blog-detail .article-detail {
  border: 1px solid #e0e0e0;
  padding: 25px;
  margin-bottom: 30px;
}
.blog-detail .article-detail h1 {
  text-align: center;
}
.blog-detail .article-detail .article-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .blog-detail .article-detail .article-image {
    height: 260px;
  }
}
@media (min-width: 768px) {
  .blog-detail .article-detail .article-image {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .blog-detail .article-detail .article-image {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .blog-detail .article-detail .article-image {
    height: 400px;
  }
}
.blog-detail .article-detail .article-info {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.blog-detail .article-comments .comment {
  padding: 25px;
  border: 1px solid #e0e0e0;
}
.blog-detail .article-comments .comment .comment-info {
  padding-bottom: 20px;
}
.blog-detail .article-comments .comment p {
  margin: 0;
}

.product-preview {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}
.product-preview .product-preview-image {
  background-color: #f8f8f8;
  position: relative;
}
.product-preview .product-preview-image img {
  object-fit: contain;
}
.product-preview .product-preview-image .product-preview-special-tag, .product-preview .product-preview-image .product-preview-discount {
  position: absolute;
  top: 20px;
  background-color: #FF9999;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}
.product-preview .product-preview-image .product-preview-special-tag {
  right: 10px;
}
.product-preview .product-preview-image .product-preview-discount {
  left: 10px;
}
.product-preview .product-preview-info {
  padding: 15px 20px;
}
.product-preview .product-preview-info .product-preview-price {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
}
.product-preview .product-preview-info .product-preview-price .product-preview-price-current {
  color: #FF9999;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.product-preview .product-preview-info .product-preview-price .product-preview-price-old {
  text-decoration: line-through;
  color: #999;
  font-size: 13px;
}

/*# sourceMappingURL=site.css.map */
